##########################################
#  Configurazione Generata Automaticamente
##########################################

Hostname: {{ inventory_hostname }}
Indirizzo IP: {{ ansible_host }}
Sistema Operativo: {{ ansible_distribution }} {{ ansible_distribution_version }}

Generato da Ansible in data: {{ ansible_date_time.date }}
