#####################################
#  File generato automaticamente    #
#        da Ansible Playbook        #
#####################################

Questo è un file di esempio creato tramite Ansible.

- Data di creazione: {{ ansible_date_time.date }}
- Hostname: {{ inventory_hostname }}
